.container-feature-right-image-1 {
    margin: 0 auto;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


@media (min-width: 1024px) {
    .container-feature-right-image-1 {
        max-width: 1200px;
        display: flex;
        flex-direction: row;
    }
}


.left-content{
    background-color: blueviolet;
    background-color: transparent;
    width: 100%;
}


@media (min-width: 1024px) {
    .left-content{
        background-color: rgb(109, 82, 134);
        background-color: transparent;
        width: 50%;
    }
}


.feature-image-mobile {
    background-color: coral;
    background-color: transparent;
    display: block;
    width: 100%;
    border-radius: 30px;
}

@media (min-width: 1024px) {
    .feature-image-mobile {
        display: none;
    }
}


.feature-image-desktop {
    display: none;
    background-color: aquamarine;
    background-color: transparent;
}


@media (min-width: 1024px) {
    .feature-image-desktop {
        display: block;
        width: 50%;
        margin-left: 50px;
    }
}