#section-feature-2 {
    padding-top: 75px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #eee;
}


#section-feature-2 .p-lead{
    max-width: 1000px;
    margin-top: 0px;
    margin-bottom: 40px;
}


#section-feature-2 h1{
    max-width: 1000px;
    margin-top: 10px;
    margin-bottom: 0px;
}


#section-feature-2 .feature-container-2 .feature-2{
    margin-bottom: 40px;
    margin-left: 0px;
}

#section-feature-2  .container-flex-center-column{
    margin-bottom: 20px;

}



